/* Media queries*/
/* Zusätzliche Regeln für medium Monitore  */

@media screen and (max-width:720px) {
    
	.downloadCVButton{
		display: none;
	}
	.hero {
		margin-top: 100px;
	}
	.sections{
		width: 92%;
	}
	.card{
		width: 95%
	}
	.timelineVertical{
		display:block;
		width: 90%;
	}
	
	.timeline {
		display: none;
	}
}